fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
jinja2
python-multipart
email-validator
pymysql
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
PyJWT
redis
alembic
pytest
httpx
cryptography
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
prometheus-client
